.loginComponent{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 90px;
}