.createAccessComponent{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCancel{
    width: 100px;
}

.buttonCreate{
    width: 100px;
}